.expenses {
  padding: 1rem;
  background: #fceabb;
  background: -webkit-linear-gradient(to right, #f8b500, #fceabb);
  background: linear-gradient(to right, #f8b500, #fceabb);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}
